@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800&display=swap');

.font-playfair {
  font-family: 'Playfair Display', serif;
}

*{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none; 
}
nav {
  position: fixed !important;
  z-index: 9999 !important;
}

/* Hide scrollbar but keep scrolling functional */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

